.dm3 .sec2 .img-container{
    background-color: transparent;
    box-shadow: none;
}
.dm3 .sec2 .circle{
    width: 300px;
    height: 300px;
}
.dm3 .sec2 .cr2{
    top: 50px;
    left: 20px;
    margin-left: 0;
}
.dm3 .sec2{
    margin: 5rem 2.5rem;
}
.dm3 .sec3{
    display: flex;
    width: 100%;
}
.dm3 .sec3 > .img-sec{
    display: flex;
    justify-content: flex-start;
    padding-left: 2rem;
}
.dm3 .sec3 .cards{
    width: 600px;
    height: 350px;
    margin-left: 8rem;
    margin-top: 3.5rem;
    position: absolute;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    place-items: center;
}
.dm3 .sec3 .card{
    width: 170px;
    height: 170px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 5px lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}