.slide6{
    width: 100%;
    font-family: Roboto, Arial, sans-serif;
}
.container-6{
    padding: 5rem 7rem;
}
.container-6 h2{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}
.container-6 .cards{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 2.5rem 0;
    animation: slideInFromBottom 0.5s ease-out;
}
.container-6 .cards > .card{
    width: 160px;
    height: 200px;
    text-wrap:wrap;
    padding: 1rem;
    box-shadow: 1px 1px 10px rgb(214, 213, 213);
    border: none;
}
.card a{
    text-decoration: none;
}
.card a h3{
    color: black;
    font-size: 22px;
}
.card a span{
    text-decoration: underline;
    font-weight: bold;
    font-size: 16px;
}
.content h2{
    text-align: start;
}
hr{
    position: relative;
}
.slide6 .sec2, .slide6 .sec3{
    width: 100%;
    height: 550px;
    margin: 0;
}
.sec2 .img-container{
    width: 600px;
    position: absolute;
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 1px 1px 5px lightgray;
    margin-left: 3.5rem;
    animation: slideInFromBottom 0.5s ease-out;
}
.sec2 .ct2 a{
    color: var(--text-highlight);
    font-weight: bold;
    font-size: 21px;
    margin: 5px;
}
.sec3 .img-sec{
    display: flex;
    justify-content: flex-start;
}
.container-6 .sec3 .img-container{
    background-color: #fff;
    height: 400px;
    width: 620px;
    box-shadow: 1px 1px 5px lightgray;
    margin-left: 2rem;
    padding-left: 0;
}
.slide6 .cr2{
    top: -5px;
    bottom: -25px;
    left: 90px;
}
.slide6 .cr3{
    left: 0px;
    top: -5px;
}
.slide6 .cnt2, .slide6 .cnt3{
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    text-wrap: wrap;
}
