.adv-container{
    width: 100%;
    height: auto;
    font-family: Roboto, Arial, sans-serif;
}
.adv-container h2{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 3rem;
}
.adv-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 5rem;
    animation: slideInFromBottom 0.5s ease-out;
}
.grd{
    padding-left: 2rem;
}
.grd h3{
    font-size: 24px;
    font-weight: bold;
}
.grd p{
    color: rgb(104, 119, 144);
    font-size: 21px;
    margin-bottom: 2rem;
}